.gitignore

# CMake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
Testing/

# generated source
wfd_parser/errorscanner.cpp
wfd_parser/headerscanner.cpp
wfd_parser/messagescanner.cpp
wfd_parser/parser.output
wfd_parser/parser.tab.cpp
wfd_parser/parser.tab.hpp
wfd_parser/stack.hh

# generated binaries
wfd_parser/wfd
wfd_parser/test-wfd
sink/sink-test
p2p/test-ie
p2p/register-peer-service
mirac_network/gst-test
mirac_network/network-test

*.a
