.gitignore

# CMake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
Testing/

# generated source
wfd/parser/errorscanner.cpp
wfd/parser/headerscanner.cpp
wfd/parser/messagescanner.cpp
wfd/parser/parser.output
wfd/parser/parser.tab.cpp
wfd/parser/parser.tab.hpp
wfd/parser/stack.hh

# generated binaries
wfd/parser/wfd
wfd/parser/test-wfd
sink/sink-test
p2p/test-ie
p2p/register-peer-service
mirac_network/gst-test
mirac_network/network-test
desktop_source/desktop-source-test

*.a
